name: Acquire activation file
on: workflow_dispatch 
jobs:
  activation:
    runs-on: ubuntu-latest
    steps:
      - name: Request manual activation file
        id: getManualLicenseFile
        uses: game-ci/unity-request-activation-file@v2
      - name: Expose as artifact
        uses: actions/upload-artifact@v4
        with:
          name: activation-file
          path: ${{ steps.getManualLicenseFile.outputs.filePath }}