name: 1-GET-LICENSE #file name on workflow list

on: 
  workflow_dispatch: 

jobs:
  activation:
    name: Generate Request File
    runs-on: ubuntu-latest
    steps:
      - name: Request manual activation file
        id: getManualLicenseFile
        uses: game-ci/unity-request-activation-file@v2
      - name: Expose as artifact
        uses: actions/upload-artifact@v4
        with:
          name: activation-file
          path: ${{ steps.getManualLicenseFile.outputs.filePath }}