name: Get Activation File
on: workflow_dispatch 
jobs:
  activation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: game-ci/unity-request-activation-file@v2
        with:
          unityVersion: 2022.3.10f1 
      - uses: actions/upload-artifact@v4
        with:
          name: activation-file
          path: ./*.alf